html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/stylesheets/estilos.css')
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel="shortcut icon", href="images/favicon.ico", type="image/x-icon")
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css')
    title Pelvis On - Administración
    style.
      body {
        padding: 10px;
      }
      td {
        display: none;
      }
      span {
        font-family: Arial;
        font-size: 14px;
      }
      .coments {
        border: 1px black solid;
        margin: 5px;
        padding: 5px;
      }
  body
    table#table
    span#error
    script.
      if ('#{resultado}' === "") {
        document.getElementById('error').innerHTML = "Ingrese como administrador";
      } else {
        var data = JSON.parse('!{JSON.stringify(resultado)}');
        for (var i = 0; i < data.length; i++) {

          var newDiv = document.createElement("td");

          var newContent = document.createTextNode(document.write(`<div class="coments">
          Nombre: <span>${data[i].nombre}</span> <br> 
          Email: <span>${data[i].email}</span> <br> 
          Teléfono: <span>${data[i].telefono}</span> <br> 
          Mensaje: <span>${data[i].mensaje}</span> <br><br></div>`));
        
          newDiv.appendChild(newContent); //añade texto al div creado
          // añade el elemento creado y su contenido al DOM
          var currentDiv = document.getElementById("table");
          document.body.insertBefore(newDiv, currentDiv);
        }
      }
      